---
import Features from "../components/Features.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Contribute from "../components/Contribute.astro";
import Requirements from "../components/Requirements.astro";
import Download from "../components/Download.astro";
import Community from "../components/Community.astro";
import FAQ from "../components/FAQ.astro";
import Sponsors from "../components/Sponsors.astro";
---

<Layout>
    <div class="flex flex-col gap-12">
        <Hero />
        <Features />
        <Requirements/>
        <Download />
        <Contribute />
        <Sponsors />
        <Community />
        <FAQ />
    </div>
</Layout>
